.info-container {
    margin-left: auto;
    margin-right: auto;

    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;

    max-width: 56rem;

    @media (min-width: 640px) {
        padding-top: 3rem;
        padding-bottom: 6rem;
    }

    @media (min-width: 1024px) {
        padding-top: 4rem;
        padding-left: 2rem;
        padding-right: 2rem;
        max-width: 80rem;
    }
}

.info {
    &__inner {
        padding-bottom: 6rem;
        border-bottom: 2px solid #cfcfcf;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(1, minmax(0, 1fr));
        column-gap: 1.5rem;
        row-gap: 3rem;

        @media (min-width: 640px) {
            grid-template-columns: repeat(2, minmax(0, 1fr));
        }

        @media(min-width: 1024px) {

            grid-template-columns: repeat(3, minmax(0, 1fr));
            column-gap: 2rem;
            row-gap: 4rem;
        }
    }

    &__item {
        &-icon {
            display: flex;
            justify-content: center;

            &-inner {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 4rem;
                height: 4rem;
                border-radius: 9999px;
                background-color: #e6e6e6;
                color: #1d1d1d;
                font-size: 1.5rem;
                font-weight: bold;
            }
        }

        &-content {
            margin-top: 1.5rem;
        }

        &-name {
            text-transform: uppercase;
            text-align: center;
        }

        &-description {
            text-align: center;
            font-size: 0.75rem;
        }
    }
}